
<html>
    <body>
        <style>

ul ul ul {
    left: 100%;
    top: 0;
}
li:hover > ul {
    display: block;
}


        </style>
<li>
    <a href="">Course</a>
    <ul>
        
                <li><a href="">Btech</a> 
                    <ul> <a href="">sem1</a></ul></li>
                    <ul> <a href="">sem2</a></ul></li>
                    <ul> <a href="">sem3</a></ul></li>
                    <ul> <a href="">sem4</a></ul></li>
                    <ul> <a href="">sem5</a></ul></li>
                    <ul> <a href="">sem6</a></ul></li>
                    <ul> <a href="">sem7</a></ul></li>
                    <ul> <a href="">sem8</a></ul></li>
                    
                <li>
                    <a href="">Msc</a>
                    <ul> <a href="">sem1</a></ul></li>
                    <ul> <a href="">sem2</a></ul></li>
                    <ul> <a href="">sem3</a></ul></li>
                    <ul> <a href="">sem4</a></ul></li>
                </li>
            </ul>
        </li>
    </body>
</html>