<!DOCTYPE html>
<title> this page will show papers of sem</title>

<body >
    <h1>u can use table below</h1>
    {% if param is defined %}
    
    {% for i in param %}

    serial no: {{ i.sno }}
    
    
    , batch    :{{ i.batch }}
    
    
    , exam     :{{ i.papertype }}
   

    
<a href="/download_paper" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true" download>&nbsp&nbsp Download</a> 
<br><br><br>
{% endfor %}

{% else %}
no paper available for this semster 
{% endif %}

</body>
</html>