<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>paper upload</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
      
      <script>
$(function()
{
    function after_form_submitted(data) 
    {
        if(data.result == 'success')
        {
            $('form#reused_form').hide();
            $('#success_message').show();
            $('#error_message').hide();
        }
        else
        {
            $('#error_message').append('<ul></ul>');

            jQuery.each(data.errors,function(key,val)
            {
                $('#error_message ul').append('<li>'+key+':'+val+'</li>');
            });
            $('#success_message').hide();
            $('#error_message').show();

            //reverse the response on the button
            $('button[type="button"]', $form).each(function()
            {
                $btn = $(this);
                label = $btn.prop('orig_label');
                if(label)
                {
                    $btn.prop('type','submit' ); 
                    $btn.text(label);
                    $btn.prop('orig_label','');
                }
            });
            
        }//else
    }

	$('#reused_form').submit(function(e)
      {
        e.preventDefault();

        $form = $(this);
        //show some response on the button
        $('button[type="submit"]', $form).each(function()
        {
            $btn = $(this);
            $btn.prop('type','button' ); 
            $btn.prop('orig_label',$btn.text());
            $btn.text('Sending ...');
        });
        

                    var formdata = new FormData(this);
            $.ajax({
                type: "POST",
                url: 'http://reusableforms.com/handler/a/html-email-form-with-attachment',
                data: formdata,
                success: after_form_submitted,
                dataType: 'json' ,
                processData: false,
                contentType: false,
                cache: false        
            });
        
      });	
});
</script>
            <style>
        #orig_article_block {
        position:fixed;
        left:0px;
        bottom:0px;
        height:60px;
        width:100%;
        background:#222;
        color:#fff;
        padding: 10px;
        }
        #orig_article_block a
        {
          color:#fff;
          text-decoration: underline;
        }

        /* IE 6 */
        * html #orig_article_block {
        position:absolute;
        top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
        }
      </style>
        </head>
  <body >
      <div class="container">
        <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
        <form role="form" action= "{{ url_for('upload_papertodb') }}" method="post" id="reused_form" enctype=&quot;multipart/form-data&quot;  >
            <div class="form-group">
                <label for="batch">
                    Batch:</label>
                <input type="text" class="form-control" 
                id="batch" name="batch"  required maxlength="50">

            </div>
            <div class="form-group">
                <label for="papertype">
                    Exam type:</label>
                <input type="papertype" class="form-control" 
                id="papertype" name="papertype" required maxlength="50">
            </div>
            

                        <div class="form-group">
                <label for="paper">
                    Paper Upload:</label>
                <input type="file" class="form-control" id="paper" name="paper"  required>
            </div>     
                   

            
            
            <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Submit &rarr;</button>

        </form>
        <div id="success_message" style="width:100%; height:100%; display:none; ">
            <h3>Sent your message successfully!</h3>
        </div>
        <div id="error_message" 
        style="width:100%; height:100%; display:none; ">
            <h3>Error</h3>
            Sorry there was an error sending your form.

        </div> 
    </div>
</div>
      </div>
      
            <div id="orig_article_block">
       This is an example form for : <a href="http://reusableforms.com/d/a/html-email-form-with-attachment"
       >"HTML Email Form With Attachment"</a>. Read more <a href="http://reusableforms.com/d/a/html-email-form-with-attachment">here</a>
       </div>
      
  </body>
</html>